* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#showcase {
  background: linear-gradient(to bottom, #fcfa7c2c, #010b924b),
    url("home-bg.jpeg");
  background-position: center;
  background-size: cover;
  height: 85vh;
  width: 100%;
  padding: 25%;
  position: relative;
  background-attachment: fixed;
}

@media (min-width: 576px) { 
  #showcase {
      height: 50vh;
  }

  #showcase .content {
      font-size: 23px;
  }
}

@media (min-width: 768px) {
  #showcase {
      height: 60vh;
  }
  #showcase .content {
      font-size: 25px;
  }
}

@media (min-width: 992px) { 
  #showcase {
      height: 70vh;
  }
  #showcase .content {
      font-size: 26px;
  }
}


#how-it-works {
  background-color: #fcfa7c;
  padding: 10px;
}

.main-header {
  position: fixed;
  width: 100%;
  background-color: #fcfa7c;
  padding: 8px 16px;
  top: 0;
  z-index: 1;
}

.main-nav {
  display: inline-block;
  width: calc(100% - 99px);
  text-align: right;
}
.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 10px;
}

.main-header__logo {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
}

.main-nav__item a {
  text-decoration: none;
  color: #fff;
}

.fener {
  color: #fcfa7c;
  position: absolute;
  margin: 0;
  top: 7%;
  left: 50%;
  font-size: 40px;
  transform: translate(-50%, -50%);
}

.main-nav__item a:hover,
.main-nav__item:hover::before {
  color: #2e4c6d;
}

.main-nav__item:active::before,
.main-nav__item a:active {
  color: #fff;
}

.main-nav__item::before {
  content: "\2022";
  color: #fff;
}

.main-nav__item--login a {
  color: #fff;
  background-color: #2e4c6d;
  padding: 4px 16px;
  border-radius: 8px;
  border: 2px solid #fff;
}

.main-nav__item--login a:hover {
  color: #2e4c6d;
  border: 2px solid #2e4c6d;
  background-color: #fff;
}

.main-nav__item--login::before {
  content: none;
}
#how-it-works {
  padding: 10px;
  text-align: center;
}

#how-it-works {
  color: #3e4555;
  font-size: 30px;
  font-weight: 600;
}

.footer {
  margin-bottom: 50px;
}

.register {
  color: #3e4555;
  font-size: 26px;
  display: inline-block;
  width: 30%;
  padding: 20px;
  margin: 10px;
}
.choose {
  color: #3e4555;
  font-size: 26px;
  display: inline-block;
  width: 30%;
  padding: 20px;
  margin: 10px;
}
.enjoy {
  color: #3e4555;
  font-size: 26px;
  display: inline-block;
  width: 30%;
  padding: 20px;
  margin: 10px;
}
.col-2 {
  display: inline-block;
  width: calc(50% - 2px);
  height: 500px;
  background-color: blue;
  vertical-align: top;
}
.features__left {
  background: url("home-bg2.jpeg");
  background-size: cover;
  background-position: center;
}

.features__right {
  background-color: #092c7e;
  color: #fcfa7c;
  padding: 50px;
  vertical-align: center;
}

#features a {
  background-color: #c8e44b;
  color: #fff;
  padding: 7px 15px;
  text-decoration: none;
  font-size: 14px;
  border: 1px solid #3e4555;
  border-radius: 3px;
  display: inline-block;
  margin-top: 15px;
  text-align: center;
}

#features a:hover {
  border: 1px solid #3e4555;
  color: #3e4555;
  background-color: #fff;
}

.features__center {
  text-align: center;
}

.planbutton a {
  background-color: #143583;
  color: #fff;
  padding: 7px 15px;
  text-decoration: none;
  font-size: 14px;
  border: 1px solid #3e4555;
  border-radius: 3px;
  display: inline-block;
  margin-top: 15px;
  text-align: center;
}

.planbutton a:hover {
  border: 1px solid #3e4555;
  color: #3e4555;
  background-color: #fff;
}

.baslik {
  text-align: center;
  position: relative;
  top: -25px;
}

.bolum {
  background: #ffffff;
  text-align: center;
  float: left;
  width: 33.3%;
  padding: 5px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  margin: 0 auto;
  width: 1000px;
}

.inner-plan {
  background: #fcfa7c;
  padding: 25px 10px;
  border-radius: 5px;
  box-shadow: 5px 10px 5px 5px #888888;
  transition: box-shadow 0.2s;
}

.inner-plan:hover {
  box-shadow: 5px 10px 5px 5px #4e4e4d;
}

.plan__badge {
  background: #fcfa7c;
  color: #2818ff !important;
  padding: 8px;
  border-radius: 5px;
}
.recommended_plan {
  background: #092c7e;
  color: #fcfa7c;
  position: relative;
  top: -28px;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__features li {
  margin: 6px 0;
}

html {
  scroll-behavior: smooth;
}

#backtotop {
  color: #c8e44b;
  font-size: 45px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

#backtotop i:hover {
  color: #2818ff;
  transition: color 1s;
}

#cubuk {
  background-color: #092c7e;
  text-align: center;
  padding: 100px;
}

.cubuk__sutun {
  font-size: 30px;
  font-weight: 500;
  color: #fffc3a;
}

.cubuk h4 {
  margin: 0;
  color: #fcfa7ca8;
}

.sutun {
  float: left;
  width: 33.3%;
}

.card-container {
  padding: 10px;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
  color: #3e4555;
  font-size: 30px;
}

.container {
  margin: 0 auto;
  width: 1000px;
}

.row {
  margin-top: 40px;
}

.card-container {
  padding: 10px;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 10px 10px 40px rgba(52, 58, 64, 0.1);
  /* position: relative; */
  /* top: 0; */
  transition: all 0.3s;
}
.card:hover {
  /* top: -10px; */
  transform: translateY(-10px);
}

.card-image {
  max-height: 350px;
}

.card-body {
  padding: 30px;
}

.img-fluid {
  width: 100%;
}

.col-3 {
  float: left;
  width: 33.3%;
}

.col-2 {
  float: left;
  width: 50%;
}

footer {
  background-color: #2e4c6d;
  padding: 30px;
  margin-top: 30px;
}

footer a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 5px;
}

#social-links {
  text-align: right;
}

.fab {
  padding: 10px;
  font-size: 25px;
  border-radius: 50%;
}

.fab:hover {
  opacity: 0.7;
}

.fa-facebook {
  background-color: #3b5998;
  color: #fff;
}

.fa-twitter {
  background-color: #55acee;
  color: #fff;
}

.fa-instagram {
  background-color: #125688;
  color: #fff;
}

@media (min-width: 576px) {
  .container {
    margin: 0 auto;
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    margin: 0 auto;
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    margin: 0 auto;
    width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    margin: 0 auto;
    width: 1320px;
  }
}
